.inputs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  input {
    height: 25px;
    padding: 0 10px;
  }

  .name-input {
    width: 35%;
  }

  .amount-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;

    .currency-symbol {
      position: absolute;
      left: 8px;
    }

    .amount-input {
      text-align: end;
      font-size: 12px;
      width: 56%;
    }
  }
}
