.inputs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  input {
    height: 25px;
    padding: 0 10px;
  }

  .name-input {
    width: 90%;
  }

  .amount-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .amount-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: end;

      .currency-symbol {
        position: absolute;
        left: 30px;
      }

      .amount-input {
        text-align: end;
        font-size: 12px;
        width: 50%;
      }
    }
  }
}
