@use "abstracts" as *;

@use "base";
@use "layout";
@use "components";
@use "pages";
@use "utilities";

.add-btn {
  padding: $spacing-xxs $spacing-md;
  border: 1px solid $gray-500;
  border-radius: $border-radius-sm;
  font-size: $font-size-xl;
  color: $primary-dark;
  width: fit-content;
}

.delete-btn {
  font-size: $font-size-lg;
  font-weight: $font-weight-light;
  width: fit-content;
  color: $error;
}

.form-error {
  font-size: $font-size-xxs;
  color: $error;
  margin-top: 5px;
}

.submit-btn {
  @include button-variant($primary, $primary-dark, $white);
  padding: $spacing-xs $spacing-lg;
  margin: $spacing-sm 0;
  background: $primary;
}

.picker-input {
  font-weight: $font-weight-medium;
  text-align: center;
  padding: $spacing-xxs 0;
}

.auth-form {
  @include flex-center;
  gap: $spacing-md;
  width: 50%;
}
