@use "abstracts" as *;

@use "base";
@use "layout";
@use "components";
@use "pages";

.add-btn {
  padding: 4px 12px;
  border: 1px solid $gray-500;
  border-radius: 10px;
  font-size: 20px;
  width: fit-content;
}

.delete-btn {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
  width: fit-content;
  color: red;
}

.form-error {
  font-size: 10px;
  color: red;
  margin-bottom: 5px;
}

.submit-btn {
  padding: 8px 16px;
  margin: 14px 0 14px auto;
  background: $primary;
  border-radius: 10px;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}
