@use "../../abstracts" as *;

.total-entries-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 15px 0;

  .total-entries {
    padding: 8px 10px 15px 10px;
    width: 48%;
    border: 1px solid $black;
    border-radius: 16px;

    &-text {
      display: flex;
      justify-content: space-between;
      font-family: $font-family-secondary;
      font-size: 13px;
    }

    &.charges {
      background: $black;
      color: $white;
      font-weight: 200;

      .icon {
        color: $primary;
        margin-bottom: 12px;
      }
    }
    &.incomes {
      background: $primary;
      color: $black;
      font-weight: 300;

      .icon {
        margin-bottom: 12px;
      }
    }
  }
}
