@use "../abstracts" as *;

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: $font-size-sm;
}

.search-error {
  @include flex-center;
  gap: 8px;
  margin-top: $spacing-md;
  color: $gray-700;

  &__text {
    font-size: $font-size-sm;
  }
}

.selected-budget-card {
  margin: $spacing-xl 0;
  padding-bottom: $spacing-xl;
  @include before-line(bottom);
}
