@use "../abstracts" as *;

.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  a {
    padding: $spacing-sm $spacing-xl;
    border-radius: 15px;
  }

  &__login {
    background: $primary;
  }
  &__signup {
    border: 1px solid $primary;
    color: $primary;
  }
}
