@use "../abstracts" as *;

.app-header {
  display: flex;
  justify-content: flex-end;

  &__burger-menu {
    padding: $spacing-lg $spacing-sm 0 0;
    background: $white;

    .burger-icon {
      @include icon-size(24px, 40px);
    }
  }

  &__content {
    background: $white;
    border-radius: $border-radius-md 0 $border-radius-md $border-radius-md;
    border: 1px solid $gray-500;
    @include padding-responsive(lg, sm);

    .close-btn {
      display: flex;
      justify-content: end;
      color: $black;

      .close-icon {
        @include icon-size(24px, 30px);
      }
    }

    .nav-items {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      padding: $spacing-sm $spacing-xl 0 0;

      li {
        @include font-responsive(sm);
        .active {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
