@use "../abstracts" as *;

.app-container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  position: relative;
}

// Flex

.flex-between {
  @include flex-between;
}
.flex-center {
  @include flex-center;
}
.flex-start {
  display: flex;
  align-items: flex-start;
}

.gap-sm {
  gap: $spacing-sm;
}
