//  Colors

$primary: #ffa560;
$primary-dark: #b45e18;
$primary-light: #ffbf94;

$gray-100: #f5f5f5;
$gray-200: #e0e0e0;
$gray-500: #9e9e9e;
$gray-700: #616161;

$error: #a82315;
$error-light: #fddede;

$black: #212121;
$white: #ffffff;

// Typography

$font-family-primary: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;
$font-family-secondary: "Work Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;
$font-family-mono: "JetBrains Mono", "SF Mono", "Consolas", "Monaco", monospace;

$font-sizes: (
  xxs: (
    base: 0.625rem,
    md: 0.75rem,
  ),
  xs: (
    base: 0.75rem,
    md: 0.875rem,
  ),
  sm: (
    base: 0.875rem,
    md: 1rem,
  ),
  base: (
    base: 1rem,
    md: 1.125rem,
  ),
  lg: (
    base: 1.125rem,
    md: 1.25rem,
  ),
  xl: (
    base: 1.25rem,
    md: 1.5rem,
  ),
  2xl: (
    base: 1.5rem,
    md: 1.875rem,
  ),
  3xl: (
    base: 1.875rem,
    md: 2rem,
  ),
);

$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Spacing

$spacings: (
  xxs: (
    base: 0.25rem,
    md: 0.5rem,
  ),
  xs: (
    base: 0.5rem,
    md: 0.625rem,
  ),
  sm: (
    base: 0.625rem,
    md: 0.75rem,
  ),
  md: (
    base: 0.75rem,
    md: 1rem,
  ),
  lg: (
    base: 1rem,
    md: 1.25rem,
  ),
  xl: (
    base: 1.25rem,
    md: 1.5rem,
  ),
  2xl: (
    base: 1.5rem,
    md: 1.875rem,
  ),
);

$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.625rem;
$spacing-md: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 1.25rem;
$spacing-2xl: 1.5rem;
$spacing-3xl: 2rem;

// Breakpoints

$breakpoint-xs: 440px;
$breakpoint-sm: 620px;
$breakpoint-lg: 1024px;

// Border - container

$border-radius-xs: 0.5rem;
$border-radius-sm: 0.625rem;
$border-radius-md: 0.75rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.25rem;
$border-radius-rounded: 50%;

$shadow-sm: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$shadow-md: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$shadow-lg: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$shadow-xl: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
