@use "../../abstracts" as *;

.banner {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  margin-bottom: $spacing-xl;

  @include tablet-up {
    margin-bottom: $spacing-3xl;
  }

  & {
    @include desktop-up {
      margin-bottom: 50px;
    }
  }

  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: $border-radius-rounded;
    @include flex-center;
    background: $primary;
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
  }

  &__user-name {
    font-weight: $font-weight-semibold;
    @include font-responsive(lg);
  }

  &__title {
    color: $gray-700;
    margin: $spacing-xxs 0 0 0;
    @include font-responsive(xs);
  }
}
