@use "../../abstracts" as *;

.data-card {
  position: relative;
  margin-bottom: $spacing-lg;
  border: 1px solid $black;
  border-radius: $border-radius-xl;

  &__title {
    padding: $spacing-sm $spacing-lg;
    border-bottom: 1px solid $black;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    border-radius: 20px 20px 0 0;
    font-weight: $font-weight-light;

    &.black {
      background: $black;
      color: $white;
    }

    &.primary {
      background: $primary;
    }
  }

  &__content {
    padding: $spacing-sm $spacing-lg;
  }
}
