@use "../../abstracts" as *;

.total-data {
  @include flex-between;
  @include before-line;
  padding: $spacing-lg $spacing-sm $spacing-xs $spacing-sm;
  font-size: $font-size-sm;
  margin-top: $spacing-xl;

  &__amount {
    color: $gray-700;
  }
}
