header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
}

.burger-menu-icon {
  padding: 15px 10px 0 0;
  background: $white;
}

.header-nav {
  background: $white;
  border-radius: 15px 0 15px 15px;
  border: 1px solid #000000;
  padding: 15px 10px;

  .close-btn {
    display: flex;
    justify-content: end;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 0 0;

    li {
      font-size: 14px;
      .active {
        font-weight: 700;
      }
    }
  }
}
